{:paths ["../experience/src"]
 :deps
 {io.github.casselc/samizdat
  {:git/url "https://github.com/casselc/samizdat.git"
   :git/sha "4745c96e08a6e0bf4fb2903374849d745a08da3c"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../.."}}}
