{:schema 1
 :targets
 {jolt-lang/jolt
  {:git/url "https://github.com/casselc/jolt.git"
   :git/sha "772a27584d0bd151c421c90e80cb8c77012ab836"
   :compiler {:id jolt-lang/jolt
              :git/sha "772a27584d0bd151c421c90e80cb8c77012ab836"
              :chez "10.4.1"}
   :manifest "META-INF/jolt/aspects/packs/core-async-772a275.edn"
   :scenario "scenarios/core-async"
   :plain-scenario "scenarios/core-async-plain"
   :surface :clojure.core.async
   :coverage #{:offer! :poll! :close!}
   :consumers
   [{:id io.github.chucklehead-dev/jolt-aspect-packs
     :provider jolt.aspect-packs.core-async.provider/aspect-provider}]}

  jolt-lang/db
  {:git/url "https://github.com/casselc/db.git"
   :git/sha "0c559d78d839f2f9c8cc1a7326a639134134bfac"
   :compiler {:id jolt-lang/jolt
              :git/sha "574b6c90ea4f0f4f2072f297614c5d603d5894d3"
              :chez "10.4.1"}
   :seam-revision "a55c554a66d8f5e9e5198e238773f8218f6050d7"
   :manifest "META-INF/jolt/aspects/packs/db-a55c554.edn"
   :scenario "scenarios/db"
   :plain-scenario "scenarios/db-plain"
   :consumers
   [{:id io.github.chucklehead-dev/jolt-otel-instrumentation-db
     :git/url "https://github.com/chucklehead-dev/jolt-otel-instrumentation-db.git"
     :git/sha "0b6a5b850bb959563cff602ec684bb48dcc2f541"
     :provider otel.instrumentation.db/aspect-provider}
    {:id io.github.chucklehead-dev/jolt-aspect-packs
     :provider jolt.aspect-packs.db.provider/aspect-provider}]
   :inspected-integrations
   [{:id io.github.chucklehead-dev/jolt-chdb
     :git/sha "6321a0a23a06e396c684d303f3cb4d31bebc8d9f"}
    {:id io.github.chucklehead-dev/jolt-duckdb
     :git/sha "facd634492ff1d984871a0d37122ab527b7648aa"}]}

  yogthos/samizdat
  {:git/url "https://github.com/casselc/samizdat.git"
   :git/sha "ff9cfd8cf6bf08c0f61b71cc98eee8c354efa861"
   :compiler {:id jolt-lang/jolt
              :git/sha "574b6c90ea4f0f4f2072f297614c5d603d5894d3"
              :chez "10.4.1"}
   :seam-revision "dd13b4b933d3db80a319d2c7b27af4ee6767fca5"
   :manifest "META-INF/jolt/aspects/packs/mycelium-dd13b4b.edn"
   :scenario "scenarios/mycelium"
   :plain-scenario "scenarios/mycelium-plain"
   :consumers
   [{:id io.github.chucklehead-dev/jolt-aspect-packs
     :provider jolt.aspect-packs.mycelium.provider/aspect-provider}]}

  jolt-lang/http-client
 {:git/url "https://github.com/casselc/http-client.git"
   :git/sha "12b78edb9024d200083cf77d61fa56709ab23dd7"
   :manifest "META-INF/jolt/aspects/packs/http-client-12b78ed.edn"
   :scenario "scenarios/http-client"}

  casselc/jolt-http
  {:git/url "https://github.com/casselc/jolt-http.git"
   :git/sha "c6effc3a04be1467e66da433b879a8a73a352228"
   :base {:git/sha "126d30b47d926f8dbace386d5c94d0894315e06a"}
   :seam {:git/sha "3ef772262308bbf6039412366ae80690cec348b0"}
   :manifest "META-INF/jolt/aspects/packs/http-server-c6effc3.edn"
   :scenario "scenarios/http-server"}

  burinc/glitter
  {:git/url "https://github.com/casselc/glitter.git"
   :git/sha "f4e3eb83015566e4cadaedd7f5e8ad80dc57404f"
   :upstream {:git/url "https://github.com/burinc/glitter.git"
              :git/sha "482642fd3c9671b05f0ffaa2ef47420b1a92553b"}
   :manifest "META-INF/jolt/aspects/packs/glitter-f4e3eb8.edn"
   :scenario "scenarios/glitter"}

  jolt-lang/glimmer
  {:git/url "https://github.com/casselc/glimmer.git"
   :git/sha "6dab5597dc0d912793fe175d0d3cbb9e75f11426"
   :upstream {:git/url "https://github.com/jolt-lang/glimmer.git"
              :git/sha "55e38f0b21b8decbcf156f56d3c9dd25a875148b"}
   :manifest "META-INF/jolt/aspects/packs/glimmer-6dab559.edn"
   :scenario "scenarios/glimmer"}}}
