{:paths ["src" "../../models"]
 :deps
 {io.github.chucklehead-dev/jolt-chdb
  {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
   :git/sha "e2c4fd0a613c6fc169097b2cc3d4f7ecac9e2f2c"}
  io.github.chucklehead-dev/jolt-hegel
  {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
   :git/sha "3bc46499e0cfb5cf8fe67c30e997fbcae135ab47"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../.."}}
 :jolt/build
 {:aspects
  [{:resource "META-INF/jolt/aspects/packs/chdb-durable-4a0b821.edn"
    :providers [jolt.aspect-packs.chdb-durable.provider/aspect-provider]}]
  :aspect-report "target/aspects.edn"}}
