{:paths ["src" "../../models"]
 :deps
 {io.github.chucklehead-dev/jolt-chdb
  {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
   :git/sha "e2c4fd0a613c6fc169097b2cc3d4f7ecac9e2f2c"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../.."}}
 :jolt/build
 {:allow-control-aspects true
  :aspects
  [{:resource "META-INF/jolt/aspects/packs/chdb-durable-4a0b821.edn"
    :providers [jolt.aspect-packs.chdb-durable.faults/aspect-provider]}]
  :aspect-report "target/aspects.edn"}}
