{:paths ["src" "../../models"]
 :deps
 {io.github.chucklehead-dev/jolt-chdb
  {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
   :git/sha "3e3141fd29b335aa7bf2b6039fed7b3bbb4ebe04"}
  jolt-lang/db
  {:git/url "https://github.com/casselc/db.git"
   :git/sha "9e8c82a59ec63a36e86a758ff39ca9c5a9c3d165"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../.."}}
 :jolt/build
 {:allow-control-aspects true
  :aspects
  [{:resource "META-INF/jolt/aspects/packs/chdb-durable-4a0b821.edn"
    :providers [jolt.aspect-packs.chdb-durable.faults/aspect-provider]}]
  :aspect-report "target/aspects.edn"}}
