{:paths ["src"]
 :deps
 {jolt-lang/http-client
  {:git/url "https://github.com/casselc/http-client.git"
   :git/sha "eab6b78d5957f88690faf6768360572a3f185341"}
  io.github.chucklehead-dev/jolt-aspect-packs
  {:local/root "../.."}}
 :jolt/build
  {:aspects
  [{:resource "META-INF/jolt/aspects/packs/http-client-eab6b78.edn"
    :provider jolt.aspect-packs.http-client.provider/aspect-provider}]
  :aspect-report "target/aspects.edn"}}
